@use 'base/mixins' as m;
@use 'base/variables' as v;

.download {
   background-color: v.$gray-light;
   padding: v.$spacing;

   &__grid {
      display: flex;
      flex-direction: column-reverse;
   }

   &__image {
      width: 50%;
      margin: 0 auto;
      transition: transform 0.4s ease-in-out;
      margin: 5rem auto 0 auto;

      &:hover {
         transform: rotate(4deg) scale(1.2);
      }
   }

   @include m.tablet {
      &__grid {
         @include m.grid(2, v.$spacing);
      }

      &__image {
         margin-top: 0;
      }
   }
}
